<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='shortcut icon' type='image/x-icon' href='./img/favicon.ico' />
    <title>Project | <%= user.projectName %></title>
    <link
      rel="stylesheet"
      href="https://teamtigers.github.io/assets/css/materializecss.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Google+Sans"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css"
    />
    <link 
      rel="stylesheet" 
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" 
    />
    <link 
      rel="stylesheet" 
      href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" 
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="white z-depth-1">
          <div class="nav-wrapper">
            <a href="/dashboard" class="brand-logo">Cuntato</a>
            <ul id="nav-mobile" class="right">
              <li>
                <img
                  src= <%= user.picture %>
                  alt="avatar"
                  id="avatar"
                  class="responsive-img circle dropdown-trigger"
                  data-target="dropdown1"
                />
              </li>
            </ul>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="/profile"><%= user.name %></a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="/logout">Sign Out</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <span id=<%= user.projectToken %> ></span>
      <div class="fixed-action-btn">
        <a
          href="#question"
          class="btn-floating modal-trigger btn-large blue darken-4 pulse"
        >
          <i class="large material-icons">help</i>
        </a>
      </div>
      <div class="small-div"></div>

      <div class="center-align white-text project-banner">
        <span>Project name</span>
        <h3 class="white-text"><%= user.projectName %></h3>
      </div>

      <div class="container">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab"><a href="#setup">Setup</a></li>
              <li class="tab">
                <a class="active" href="#message">Message</a>
              </li>
            </ul>
          </div>

          <div class="col s12" id="setup">
            <div class="row">
              <div class="input-field col s6">
                <input
                  autocomplete="off"
                  id="domain"
                  type="text"
                  class="validate"
                  validate
                />
                <a href="#check" class="btn modal-trigger">Edit domain</a>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <ul class="collapsible rounded">
                  <li class="active">
                    <div class="collapsible-header rounded">
                      <i class="material-icons">expand_more</i>Your project
                      related code
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col s12">
                          <h5>HTML</h5>
                          <code id="html">
                            <div id="codeHTML1"></div>
                            <div id="codeHTML2"></div>
                            <div id="codeHTML3"></div>
                            <div id="codeHTML4"></div>
                          </code>
                        </div>
                        <div class="col s12">
                          <!-- <div class="vr hide-on-med-and-down"></div> -->
                          <h5>Script</h5>
                          <code id="jquery">
                            <div id="codejQuery"></div>
                          </code>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col s12" id="message">
            <div class="card rounded">
              <div class="card-content">
                <!-- IF MESSAGE FOUND THEN RENDER BELOW SECTION -->
                <div id="proTableID"></div>
                <!-- IF MESSAGE NOT FOUND THEN RENDER BELOW SECTION -->
                <div id="nothingData"></div>
              </div>
            </div>            
          </div>
        </div>
      </div>

      <div id="question" class="modal">
        <div class="modal-content">
          <h4 class="center">How to setup</h4>
          <p>
            To get the functionality done you need to setup your personal site.
            Right now we don't provide more than <b>3</b> input fields e.g.
            Name, Email, Message. You need to give proper id to each input
            field. You'll need jQuery to connect with the server. Copy the code
            provided by us from the collapsible element and paste it in your
            script tag. In name, email, and message field please set the id name
            you used in your form.
          </p>
        </div>
      </div>

      <div id="check" class="modal">
        <div class="modal-content center-align">
          <h6 class="red-text text-lighten-1">
            Your domain name will be changed. Are you sure?
          </h6>
          <div class="domain-name-changed-btn">
            <a id="yesChange" class="btn domain-change">Yes, change</a>
            <a id="noChange" class="btn domain-not-change">Cancel</a>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Cuntato</h5>
            <p class="grey-text text-lighten-4">
              An easy solution to add functionality in contact form for static
              sites.
            </p>
            <p class="grey-text text-lighten-4">
              If you find any issue related to the application or have any
              suggestions please let us know by crating an issue in
              <a href="https://github.com/pro-js/cuntato" target="_blank"
                >github</a
              >
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Our other works</h5>
            <ul>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="https://teamtigers.github.io/coronainfobd"
                  target="_blank"
                  >ConronaInfoBD</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="https://github.com/teamtigers/donate_plasma"
                  target="_blank"
                  >Donate Plasma</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2020 Copyright TeamTigers
          <a
            class="grey-text text-lighten-4 right"
            href="https://teamtigers.github.io"
            target="_blank"
            >TeamTigers</a
          >
        </div>
      </div>
    </footer>
    <img src="./img/blob.svg" alt="blob" class="blob" />

    <!-- jQuery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Materialize js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- File download cdn -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <!-- Custom JS -->
    <script src="./js/app.js"></script>
    <script src="./js/projectController.js"></script>
  </body>
</html>
